html,body {
    height: 100%;
}

#header{
    text-align: center;
}

body{
    color:black;
    background: antiquewhite;
    font-family: 'Futura-Medium','Futura';
}

h1{
    color: black;
}

#global {
    min-height: 100%;
    background: antiquewhite;
    width: 70%;
    margin: auto;
    padding: 5px 20px;
}

#contenu{
    margin-bottom: 30px;
    text-align: justify;
}

#piedBlog{
    text-align: center;
}

img{
    max-width: 200px;
    height: auto;
}

.button {
    background-color: #555555;
    border-radius: 12px;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    transition-duration: 0.4s;
  }
  
.button:hover {
    background-color: white; 
    color: #555555;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
  }
  